/*
 * Test profile: minimal nf-core/scrnaseq test data.
 *   nextflow run . -profile test,docker --outdir results
 */

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal nf-core/scrnaseq test dataset to check pipeline function'

    // Input samplesheet (sample,fastq_1,fastq_2,...)
    input = 'https://github.com/nf-core/test-datasets/raw/scrnaseq/samplesheet-2-0.csv'

    // References (mouse chr19 subset)
    fasta = 'https://github.com/nf-core/test-datasets/raw/scrnaseq/reference/GRCm38.p6.genome.chr19.fa'
    gtf   = 'https://github.com/nf-core/test-datasets/raw/scrnaseq/reference/gencode.vM19.annotation.chr19.gtf'

    // 10x v2 chemistry
    protocol = '10XV2'
    cb_len   = 16
    umi_len  = 10

    // Small genome (chr19) -> reduce STAR suffix-array index size
    star_genomeSAindexNbases = 11
}

// Keep the test lightweight
process {
    resourceLimits = [ cpus: 4, memory: '14.GB', time: '2.h' ]
}
